<h1>Listing basvurans</h1>

<table>
  <thead>
    <tr>
      <th>Isim</th>
      <th>Soyisim</th>
      <th>Basvuran kod</th>
      <th>Telefon</th>
      <th>Mail</th>
      <th>Gonullu</th>
      <th>User</th>
      <th>Giris form</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @basvurans.each do |basvuran| %>
      <tr>
        <td><%= basvuran.isim %></td>
        <td><%= basvuran.soyisim %></td>
        <td><%= basvuran.basvuran_kod %></td>
        <td><%= basvuran.telefon %></td>
        <td><%= basvuran.mail %></td>
        <td><%= basvuran.gonullu %></td>
        <td><%= basvuran.user %></td>
        <td><%= basvuran.giris_form %></td>
        <td><%= link_to 'Show', basvuran %></td>
        <td><%= link_to 'Edit', edit_basvuran_path(basvuran) %></td>
        <td><%= link_to 'Destroy', basvuran, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Basvuran', new_basvuran_path %>
