<p id="notice"><%= notice %></p>

<p>
  <strong>Isim:</strong>
  <%= @basvuran.isim %>
</p>

<p>
  <strong>Soyisim:</strong>
  <%= @basvuran.soyisim %>
</p>

<p>
  <strong>Basvuran kod:</strong>
  <%= @basvuran.basvuran_kod %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @basvuran.telefon %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @basvuran.mail %>
</p>

<p>
  <strong>Gonullu:</strong>
  <%= @basvuran.gonullu %>
</p>

<p>
  <strong>User:</strong>
  <%= @basvuran.user %>
</p>

<p>
  <strong>Giris form:</strong>
  <%= @basvuran.giris_form %>
</p>

<%= link_to 'Edit', edit_basvuran_path(@basvuran) %> |
<%= link_to 'Back', basvurans_path %>
