<h1>Listing gonullus</h1>

<table>
  <thead>
    <tr>
      <th>Isim</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gonullus.each do |gonullu| %>
      <tr>
        <td><%= gonullu.isim %></td>
        <td><%= link_to 'Show', gonullu %></td>
        <td><%= link_to 'Edit', edit_gonullu_path(gonullu) %></td>
        <td><%= link_to 'Destroy', gonullu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gonullu', new_gonullu_path %>
